<div th:fragment="nav" class="container-fluid">
  <div class="row white pad-nav">
    <div class="col-lg-12 d-flex flex-column flex-md-row align-items-center bg-white border-line box-shadow navbar-color navbar-fix pad-nav">
      <a href="/" class="my-0 mr-md-auto text-dark d-none d-md-block logo" >SHOP WORLD</a>
      <div>
        <nav class="right">
          <a class="text-dark pad-menu" href="#search">Search <i class="fa fa-search"></i></a>
          <a class="text-dark pad-menu" href="#account"><i class="fa fa-user"></i></a>
          <a class="text-dark pad-menu" href="cart.html"><i class="fa fa-shopping-cart"></i>
            <span class='badge badge-warning' id='itemCount'> </span>
          </a>
        </nav>
      </div>
    </div>
  </div>
</div>