body{
	min-width: 440px;
}
.border-line {
	border-bottom: 2px solid black;
}
.logo{
	letter-spacing: 4px;
	font-weight: bold;
}
.pad-nav{
	padding: 5px;
}
.carousel-size{
	margin-bottom: 16px;
}
.img-detail{
	width: 300px;
}
.item-img{
	height: 140px;
}
.item-name{
	color: blue;
	padding-left: 100px;
}
.pad-l100{
	padding-left: 100px;
}
.pad-l80{
	padding-left: 80px;
}
.cart-icon{
	font-size: 24px;
	display: inline;
	border: none;
	background: none;
}
.cart-icon:hover{
	color:#3195ff;
	cursor: pointer;	
}
.badge {
  border-radius: 9px;
}
.detail-img{
	width: 350px;
	height: 280px;
}
.pad-t20{
	padding-top: 20px;
}
.pd-name{
	font-weight: bold;
	font-size: 25px;
}
.pd-price{
	color: red;
	font-size: 20px;
}
.ad2cart-btn{
	background-color: black;
	color: white;
}
.popover{
	font-size: 20px;
	text-align: center;
	width: 100%;
	color: black;
}

#itemCount {
  position: absolute;
  top: -3px;
  right: 5px;
}
.cart-title{
	padding: 15px;
	font-weight: bold;
	font-size: 20px;
	background: #F0EFEF;
}
.cart-sum{
	padding: 15px;

	background: #F0EFEF;
}
.btn-checkout{
	background-color: #F20F0F;
	font-weight: bold;
	color: white;
	padding: 0px;
}
.add-border{
	border: 1px solid #F0EFEF !important;
}
.delete-btn{
	margin-top: 100%;
    width: 35px;
    height: 30px;
}
.productCard{
	padding-left: 60px !important;
	padding-right: 60px !important;
	font-size: 15px;
}
.textSearch{
	text-align: right;
	border: none;
	font-size: 14px;
}
.carousel-indicators-cycle{
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
}
.cart-inline{
	display: inline;
}
.form-control{
	border-radius: 6px;
	border: #000000 solid 0.5px;
}
.custom-label{
	padding-left: 4px;
	margin-bottom: 2px !important;
}
.product-name{
	display: block;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 3px;
}
.product-detail{
	display: block;
	font-size: 14px;
}
.bill-detail{
	display: block;
	padding: 5px 0;
}
hr{
	border-color: #000000;
}
.fb-color{
	background-color: #4267b2;
}
.omise-checkout-button{
	background-color: #F20F0F;
	font-weight: bold;
	color: #FFFFFF;
	width: 100%;
	border: none;
    padding: 7px 0;
    border-radius: 6px;
    margin-bottom: 15px;
}
.omise-checkout-button:hover{
	cursor: pointer;	
}