<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}">
<body>
	<div layout:fragment="content">
		<div class="container pad-t20">
			<div class="cart-title">
				<div class="row">
					<div class="col-9">
						SHOPPING CART SUMMARY
					</div>
				</div>
			</div>
		</div>

		<div class="container pad-t20">
			<table class="table table-borderless">
				<thead>
					<tr class="add-border">
						<th class="add-border" scope="col" colspan="6">PRODUCT</th>
						<th class="add-border" scope="col">YOUR OPTIONS</th>
						<th class="add-border" scope="col">PRICE</th>
					</tr>
				</thead>
				<tbody>
					<tr class="add-border">
						<th scope="row" colspan="6">
							<div class="row">
								<div class="col-4 text-center">
									<img src="https://notebookspec.com/nbs/upload_notebook/20180803-132021_c.jpg"  
									class="img-thumbnail item-img">
								</div>
								<div class="col-8 text-left">
									MSI GL73 8RC032 17.3 
									High Performance Gaming Laptop
								</div>
							</div>
						</th>
						<td class="add-border">
							<form>
								<div class="form-row align-items-center">
									Quantity:
									<div class="col-auto my-1">
										<label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
										<select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
											<option selected>Choose...</option>
											<option value="1">1</option>
											<option value="2">2</option>
											<option value="3">3</option>
										</select>
									</div>
								</div>
							</form>
						</td>
						<td class="add-border">
							THB xxxxxxxxxxxxx
							<div class="text-right">
								<img class="delete-btn" src="https://png.pngtree.com/svg/20170113/trash_bin_887050.png">
							</div>
						</td>
					</tr>
					<tr>
						<td ></td>
					</tr>
					<tr class="txt-bold">
						<th scope="row" colspan="6">
						</th>
						<td class="cart-sum pad-t20 ">
							Subtotal before Delivery
						</td>	
						<td class="cart-sum pad-t20  text-right">					
							THB xxxxxxx
						</td>	
					</tr>
					<tr>
						<th scope="row" colspan="6">
						</th>
						<td colspan="6" class="cart-sum">
							<a href="#login-payment">
								<button type="button" class="btn btn-lg btn-block btn-checkout " >
									CHECKOUT
								</button> 
							</a>
						</td>	
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>