<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}">
<body>
	<div layout:fragment="content">
		<div class="container pad-t20">
			<div class="cart-title">
				<div class="row">
					<div class="col-9">
						SHOPPING CART SUMMARY
					</div>
				</div>
			</div>
		</div>

		<div class="container pad-t20">
			<h2
				class="text-center text-danger"
				th:if="${session == null || session.cart == null || #lists.isEmpty(session.cart.items)}"				
			>
				No Product In Cart
			</h2>
			<table
				class="table table-responsive table-bordered"
				th:if="${session != null && session.cart != null && not #lists.isEmpty(session.cart.items)}"			
			>
				<thead>
					<tr>
						<th>PRODUCT</th>
						<th>Quantity</th>
						<th>PRICE (THB)</th>
						<th>ACTION</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${session.cart.items}">
						<td>
							<div class="row">
								<div class="col-4 text-center">
									<img
										th:src="${item.productVarient.product.imagePath}"  
										class="img-thumbnail item-img"
									>
								</div>
								<div class="col-8 text-left">
									<span th:text="${item.productVarient.product.name}"></span>
									<span th:text="${item.productVarient.name}"></span>
								</div>
							</div>
						</td>
						<td th:text="${item.count}"></td>
						<td class="text-right" th:text="${item.count * item.currentPrice}"></td>
						<td class="text-right">
								<form th:method="post" th:action="@{/deleteitemcart}">
									<input type="hidden" name="productVarientId" th:value="${item.productVarient.id}">
									<input type="hidden" name="redirect" value="/cart">
									<button type="submit" class="fa fa-trash cart-icon text-dark"></button>
								</form>
						</td>
					</tr>
					<tr class="txt-bold">
						<td colspan="2">
						</td>
						<td class="cart-sum pad-t20 ">
							Subtotal before Delivery
						</td>	
						<td class="cart-sum pad-t20 text-right" th:text="${session.cart.totalPrice}"></td>	
					</tr>
					<tr>
						<td colspan="2">
						</td>
						<td colspan="2" class="cart-sum">
							<a href="#login-payment">
								<button type="button" class="btn btn-lg btn-block btn-checkout">
									CHECKOUT
								</button> 
							</a>
						</td>	
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>