<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}">

<body>
	<div layout:fragment="content">
		<form th:method="post" th:action="@{/payment}">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 offset-md-1 col-md-4">
						<!----------- EXPRESS CHECKOUT ----------->
						<h5 class="text-center my-4">EXPRESS CHECKOUT</h5>
						<div class="form-group">
							<label for="firstname" class="custom-label">Firstname</label>
							<input type="text" class="form-control form-control-sm" id="firstname" name="firstname" required>
						</div>
						<div class="form-group">
							<label for="lastname" class="custom-label">Lastname</label>
							<input type="text" class="form-control form-control-sm" id="lastname" name="lastname" required>
						</div>
						<div class="form-group">
							<label for="tel" class="custom-label">Tel.</label>
							<input type="text" class="form-control form-control-sm" id="tel" name="tel" required>
						</div>
						<div class="form-group mb-3">
							<label for="address" class="custom-label">Address</label>
							<textarea id="address" name="address" class="form-control" required></textarea>
						</div>
						<!----------- PAYMENT METHOD ---------------->
						<h5 class="text-center my-4">PAYMENT METHOD</h5>
						<div class="form-check ml-4 mb-2">
							<input class="form-check-input" type="radio" name="payType" id="creditCard" value="CreditCard" checked>
							<label class="form-check-label" for="creditCard">
								Credit card
							</label>
						</div>
						<div class="form-check ml-4 mb-3">
							<input class="form-check-input" type="radio" name="payType" id="internetBanking" value="InternetBanking">
							<label class="form-check-label" for="internetBanking">
								Internet Banking
							</label>
						</div>
					</div>
					<div class="col-xs-12 offset-md-2 col-md-4">
						<!----------- REVIEW YOUR ORDER ----------->
						<h5 class="text-center my-4">REVIEW YOUR ORDER</h5>
						<div class="row" th:each="item : ${session.cart.items}">
							<div class="col-5">
								<img class="w-100" th:src="${item.productVarient.product.imagePath}" alt="Card image cap">
							</div>
							<div class="col-7">
								<span class="product-name">
									<span th:text="${item.productVarient.product.name}"></span>
									<span th:text="${item.productVarient.name}"></span>
								</span>
								<span class="product-detail">
									<span>Quantity: </span>
									<span th:text="${item.count}"></span>
								</span>
								<span class="product-detail">
									<span th:text="${item.count * item.currentPrice}"></span>
									<span> THB</span>
								</span>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-6">
								<span class="bill-detail">Subtotal</span>
							</div>
							<div class="col-6 text-right">
								<span class="bill-detail">
									<span th:text="${session.cart.totalPrice}"></span>
									<span> THB</span>
								</span>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<span class="bill-detail">Tax</span>
							</div>
							<div class="col-6 text-right">
								<span class="bill-detail">0 THB</span>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<span class="bill-detail">Shipping Total</span>
							</div>
							<div class="col-6 text-right">
								<span class="bill-detail">50 THB</span>
							</div>
						</div>
						<hr>
						<div class="row">
							<div class="col-6">
								<span class="bill-detail">Total</span>
							</div>
							<div class="col-6 text-right">
								<span class="bill-detail">
									<span th:text="${session.cart.totalPrice + 50}"></span>
									<span> THB</span>
								</span>
							</div>
						</div>
						<p class="text-muted">Shipping By Kerry Company</p>
						<script
							th:attr="data-key=${omisePublicKey}, data-amount=${(session.cart.totalPrice + 50) * 100}"
							type="text/javascript"
							src="https://cdn.omise.co/omise.js"
							data-frame-label="SHOP WORLD"
							data-frame-description="Project INT202"
							data-amount="10025"
							data-currency="THB"
							data-button-label="CHECKOUT"
						>
						</script>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>

</html>