<!DOCTYPE html>
<html>
<head>
	<title>SHOP WORLD</title>

	<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="style.css">
</head>
<body>
	<!-- Navbar (sit on top) -->
	<div class="container-fluid ">
		<div class="row white pad-nav">
			<div class="col-lg-12 d-flex flex-column flex-md-row align-items-center bg-white border-line box-shadow navbar-color navbar-fix pad-nav">
				<a href="index.html" class="my-0 mr-md-auto text-dark d-none d-md-block logo" >SHOP WORLD</a>
				<div>
					<nav class="right">
						<a class="text-dark pad-menu" href="#search">Search <i class="fa fa-search"></i></a>
						<a class="text-dark pad-menu" href="#account"><i class="fa fa-user"></i></a>
						<a class="text-dark pad-menu" href="cart.html"><i class="fa fa-shopping-cart"></i>
							<span class='badge badge-warning' id='itemCount'> </span>
						</a>
					</nav>
				</div>
			</div>
		</div>
	</div>

	<div class="container pad-t20">
		<div class="row">
			<div class="col-4">
				<img src="https://notebookspec.com/nbs/upload_notebook/20180803-132021_c.jpg"  
				class="detail-img">
			</div>
			<div class="col-8">
				<table class="table table-borderless">
					<thead >
						<tr >
							<td class="pd-name" style="border-bottom: 2px solid black;">MSI GL73 8RC032 17.3
High Performance Gaming Laptop</td>
						</tr>
					</thead>
					<tbody>
						<tr class="pd-price">
							<td>THB 28,900</td>
						</tr>
						<tr>
							<td>
								  <li>Coffee</li>
								  <li>Tea</li>
								  <li>Milk</li>
								  <li>Coffee</li>
								  <li>Tea</li>
								  <li>Milk</li>
							</td>
						</tr>
					</tbody>
				</table>
				<button type="button" class="btn btn-lg btn-block ad2cart-btn text-center ad2cart" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-content=" &#10004 item added to cart">
					ADD TO SHOPPING CART
				</button> 
			</div>
		</div>
	</div>

  

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script>
	$(document).ready(function(){
    	$('[data-toggle="popover"]').popover();  

    var itemCount = 0;

		$('.ad2cart').click(function (){
		  itemCount ++;
		  $('#itemCount').html(itemCount).css('display', 'block');
		}); 
	});
</script>
</body>
</html>