<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{layouts/main}">
	<body>
		<div layout:fragment="content">
			<div class="container pad-t20">
				<div class="row">
					<div class="col-4">
						<img src="https://notebookspec.com/nbs/upload_notebook/20180803-132021_c.jpg" class="img-fluid">
					</div>
					<div class="col-8">
						<table class="table table-borderless">
							<thead >
								<tr >
									<td class="pd-name" style="border-bottom: 2px solid black;">MSI GL73 8RC032 17.3
		High Performance Gaming Laptop</td>
								</tr>
							</thead>
							<tbody>
								<tr class="pd-price">
									<td>THB 28,900</td>
								</tr>
								<tr>
									<td>
											<li>Coffee</li>
											<li>Tea</li>
											<li>Milk</li>
											<li>Coffee</li>
											<li>Tea</li>
											<li>Milk</li>
									</td>
								</tr>
							</tbody>
						</table>
						<button type="button" class="btn btn-lg btn-block ad2cart-btn text-center ad2cart" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-content=" &#10004 item added to cart">
							ADD TO SHOPPING CART
						</button> 
					</div>
				</div>
			</div>
		</div>
	</body>
</html>